ul {
  list-style-type: none;
  margin: 0;
  padding: 2rem;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav {
  background-color: #333;
  height: 2rem;
  padding: 2rem;
  width: 100%;
}

a {
  color: white;
  margin: 2rem;
  padding-top: 4rem;
  text-decoration: none;
  font-size: larger;
}